{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="four columns">
        <p><a href="{{url_for('users.user_list', username=current_user.username)}}">My Movies</a></p>
        <p><a class="navbar-link" href="{{url_for('users.account')}}">Account</a></p>
        <p><a class="logout-link" href="{{url_for('users.logout')}}">Log Out</a></p>
    </div>

    <div class="eight columns">
        <h5>Edit Your Account</h5>
        <form method="POST" action="" enctype="multipart/form-data">
            <div>
                {{form.hidden_tag()}}
            </div>
            <div>
                {{form.username.label(class='row')}}
                {{form.username(class='u-full-width')}}
            </div>
            <div>
                {{form.email.label(class='row')}}
                {{form.email(class='u-full-width')}}
            </div>
            <div>
                {{form.submit(class='u-full-width')}}
            </div>
        </form>
    </div>
</div>
{% endblock %}