{% extends "base.html" %}
{% block content %}
<form class="movie-info-form" method="POST">
  <div class="row">
    {{form.hidden_tag()}}
    <div class="form-group">
      {{form.title.label}} {{form.title(placeholder="Required")}}
    </div>
    <div class="form-group">
      {{form.release_year.label}} {{form.release_year(placeholder="yyyy")}}
    </div>
    <div class="form-group">
      {{form.genre.label}} {{form.genre(placeholder="Required")}}
    </div>
    <div class="form-group">
      {{form.mood.label}} {{form.mood(placeholder="Required")}}
    </div>
    <div class="form-group">
      {{form.director.label}} {{form.director(placeholder="Required")}}
    </div>

    <div class="form-group">
      {{form.submit}}
    </div>
  </div>
</form>
{% endblock %}