{% extends "base.html" %}
{% block content %}
<form class="movie-info-form" method="POST">
  <div class="row">
    {{form.hidden_tag()}}
    <div class="form-group">
      {{form.title.label}} {{form.title}}
    </div>
    <div class="form-group">
      {{form.genre.label}} {{form.genre}}
    </div>
    <div class="form-group">
      {{form.mood.label}} {{form.mood}}
    </div>
    <div class="form-group">
      {{form.director.label}} {{form.director}}
    </div>
    <div class="form-group">
      {{form.release_year.label}} {{form.release_year}}
    </div>
    <div class="form-group">
      {{form.submit}}
    </div>
  </div>
</form>
{% endblock %}