{% extends "base.html" %}
{% block content %}
<div class="u-full-width">
  <h4>{{movie.title}}</h4>
  <p>{{movie.release_year}} | {{movie.genre}}</p>
  <p>Director: {{movie.director}}</p>
  <p>Watch it when you're in the mood for: <br>{{movie.mood}}</p>

  {% if movie.author == current_user %}
  <div>
    <p class="author">You added this movie on {{movie.date.strftime('%B %d, %Y')}} <a id="edit-btn"
        href="{{ url_for('movie_list.update', movie_id=movie.id) }}">Edit</a>
    </p>
    <form action="{{ url_for('movie_list.delete_movie', movie_id=movie.id) }}" method="POST">
      <input id="delete-btn" type="submit" value="Delete">
    </form>
  </div>
  {% else %}
  <p class="date-author">Added by {{movie.author.username}} on {{movie.date.strftime('%B %d, %Y')}}</p>
  {% endif %}
</div>
{% endblock content %}