{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>{{ movie.title }}</h1>
  <h2>Written by: {{movie.author.username}}</h2>
  <h3>Published: {{ movie.date.strftime('%B %d, %Y') }}</h3>
  <p>{{movie.genre}}</p>
  {% if movie.author == current_user %}
  <div>
    <a class="btn btn-secondary" href="{{ url_for('movie_list.update', movie_id=movie.id) }}">Update</a>
    <br>
    <form action="{{ url_for('movie_list.delete_movie', movie_id=movie.id) }}" method="POST">
      <input class="btn btn-danger" type="submit" value="Delete">
    </form>
  </div>
  {% endif %}
</div>
{% endblock content %}