{% extends "base.html" %}
{% block content %}

<div class="u-full-width">
  <div class="three columns">
    <h5>Hello, {{current_user.username}}!</h5>
    <h6><a href="{{url_for('users.user_list', username=current_user.username)}}">My Movies</a></h6>
    <h6><a class="navbar-link" href="{{url_for('users.account')}}">Account</a></h6>
    <h6><a class="logout-link" href="{{url_for('users.logout')}}">Log Out</a></h6>
  </div>

  <div class="nine columns">
      <h5>My Movies</h5>

    <table class="u-full-width" id="movies-table">
      <thead class="row">
        <tr>
          <th></th>
          <th>Mood</th>
          <th>Genre</th>
        </tr>
      </thead>
      <tbody class="row">
        {% for list in movie_list.items %}
        <tr>
          <td><a id="td-title" href="{{url_for('movie_list.movie', movie_id=list.id)}}">{{list.title}},
              {{list.release_year}}</a></td>
          <td>{{list.mood}}</td>
          <td>{{list.genre}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="u-full-width" id="pages">
      <ul class="row" id="page-nums-group">
        {% for page_num in movie_list.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if movie_list.page == page_num %}
        <li class="page-num" id="page-num-active">
          <a class="page-link-active" href="{{url_for('users.user_list', username=current_user.username, page=page_num)}}">{{ page_num }}</a>
        </li>
        {% else %}
        <li class="page-num">
          <a class="page-link" href="{{url_for('users.user_list', username=current_user.username, page=page_num)}}">{{ page_num }}</a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>


{% endblock %}